<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <h2>{{prov}}</h2>
      <ba-card cardTitle="Listado de responses" baCardClass="with-scroll table-panel">
        <div class="row">
          <div
            class="offset-xlg-8 offset-xl-8 offset-lg-8 offset-md-8 offset-sm-8 offset-xs-8 col-xlg-3 col-xl-3
              col-lg-3 col-md-3 col-sm-3 col-xs-3 add_button">
            <button type="button" (click)="onPush()" class="btn btn-primary btn-block">Agregar response
            </button>
          </div>
        </div>
        <br>
        <table class="table">
          <thead>
          <tr>
            <th>Tipo</th>
            <th>Agregar a cola de reintento</th>
            <th>Notificar por email</th>
            <th>Opci&oacute;n</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of responsesData">
            <td>{{ item.type }}</td>
            <td>{{ item.addRetry ? 'Si' : 'No'}}</td>
            <td>{{ item.sendEmail ? 'Si' : 'No'}}</td>
            <td>
              <button type="button" (click)="onUpdate(item.id)" class="btn btn-primary btn-icon"><i
                class="ion-edit"></i>
              </button>
              <button type="button" (click)="onDelete(item.id)" class="btn btn-danger btn-icon"><i
                class="ion-trash-a"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </ba-card>
    </div>
  </div>
</div>
